Data Generation/2d-turb-data.jld
Data Generation/2d-turb-data-filter-k10.jld
Data Generation/2d-turb-data-filter-k5.jld
Data Generation/2d-turb-data-filter-k3.jld
Data Generation/2d-turb-data-filter-k2.jld
Reinforcement Learning/Q-learning/Vortex Flow/Q_data.jld2
Reinforcement Learning/Actor-Critic/Vortex Flow/AC_data.jld2
Reinforcement Learning/Q-learning/Sink+Rotation Flow/Q_data.jld2
Reinforcement Learning/Actor-Critic/Sink+Rotation Flow/AC_data.jld2
Reinforcement Learning/Q-learning/Taylor-Green Flow/Q_data.jld2
Reinforcement Learning/Actor-Critic/Taylor-Green Flow/AC_data.jld2
Reinforcement Learning/Q-learning/2D Turbulence/Q_data_snap.jld2
Reinforcement Learning/Actor-Critic/2D Turbulence/AC_data_snap.jld2
Reinforcement Learning/Q-learning/2D Turbulence/Q_data_time.jld2
Reinforcement Learning/Actor-Critic/2D Turbulence/AC_data_time.jld2
.DS_Store
Incomplete Information/Actor-Critic/AC_data_snap_filter_k10.jld2
Incomplete Information/Actor-Critic/AC_data_snap_filter_k5.jld2
Incomplete Information/Actor-Critic/AC_data_snap_filter_k3.jld2
Incomplete Information/Actor-Critic/AC_data_snap_filter_k2.jld2
Incomplete Information/Q-learning/Q_data_snap_filter_k10.jld2
Incomplete Information/Q-learning/Q_data_snap_filter_k5.jld2
Incomplete Information/Q-learning/Q_data_snap_filter_k3.jld2
Incomplete Information/Q-learning/Q_data_snap_filter_k2.jld2
Incomplete Information/Actor-Critic/AC_data_time_filter_k10.jld2
Incomplete Information/Actor-Critic/AC_data_time_filter_k5.jld2
Incomplete Information/Actor-Critic/AC_data_time_filter_k3.jld2
Incomplete Information/Actor-Critic/AC_data_time_filter_k2.jld2
Incomplete Information/Q-learning/Q_data_time_filter_k10.jld2
Incomplete Information/Q-learning/Q_data_time_filter_k5.jld2
Incomplete Information/Q-learning/Q_data_time_filter_k3.jld2
Incomplete Information/Q-learning/Q_data_time_filter_k2.jld2
Trivial Strategy/Taylor-Green Flow/TP_data.jld2
Trivial Strategy/2D Turbulence/TP_data.jld2
Trivial Strategy/2D Turbulence/TP_data_time.jld2
